Repository Brightspace/SimpleLogInterface, changes with the labels that .github/labeler.yml gives for each.
All labels: language/csharp, language/js, language/sql, language/powershell, area/github-actions, area/custom

using github hosted runners
  .github/workflows/commit.yml
  .github/workflows/preflight.yml
Labels: area/github-actions

removing label workflow
  .github/workflows/labels.yml
Labels: area/github-actions

moving to GitHub Actions
  .github/workflows/commit.yml
  .github/workflows/preflight.yml
  .gitignore
  appveyor.yml
  build.ps1
  src/SimpleLogInterface.Log4Net/Properties/AssemblyInfo.cs
  src/SimpleLogInterface.NUnit/Properties/AssemblyInfo.cs
  src/SimpleLogInterface/Properties/AssemblyInfo.cs
Labels: language/csharp, language/powershell, area/github-actions

Switching to dotnet sdk
  .config/dotnet-tools.json
  .github/workflows/build.yml
  .nuget/NuGet.Config
  .nuget/NuGet.targets
  Directory.Build.props
  VersionInfo.props
  appveyor.yml
  src/SimpleLogInterface.Log4Net/Properties/AssemblyInfo.cs
  src/SimpleLogInterface.Log4Net/SimpleLogInterface.Log4Net.csproj
  src/SimpleLogInterface.Log4Net/SimpleLogInterface.Log4Net.nuspec
  src/SimpleLogInterface.NUnit/Properties/AssemblyInfo.cs
  src/SimpleLogInterface.NUnit/SimpleLogInterface.NUnit.csproj
  src/SimpleLogInterface.NUnit/SimpleLogInterface.NUnit.nuspec
  src/SimpleLogInterface/Properties/AssemblyInfo.cs
  src/SimpleLogInterface/SimpleLogInterface.csproj
  src/SimpleLogInterface/SimpleLogInterface.nuspec
Labels: language/csharp, area/github-actions

Using public runner
  .github/workflows/build.yml
Labels: area/github-actions

Updating packages
  src/SimpleLogInterface.Log4Net/SimpleLogInterface.Log4Net.csproj
  src/SimpleLogInterface.NUnit/SimpleLogInterface.NUnit.csproj
Labels: language/csharp

Switching to dotnet sdk (#7)
  .config/dotnet-tools.json
  .github/workflows/build.yml
  .nuget/NuGet.Config
  .nuget/NuGet.targets
  Directory.Build.props
  VersionInfo.props
  appveyor.yml
  src/SimpleLogInterface.Log4Net/Properties/AssemblyInfo.cs
  src/SimpleLogInterface.Log4Net/SimpleLogInterface.Log4Net.csproj
  src/SimpleLogInterface.Log4Net/SimpleLogInterface.Log4Net.nuspec
  src/SimpleLogInterface.NUnit/Properties/AssemblyInfo.cs
  src/SimpleLogInterface.NUnit/SimpleLogInterface.NUnit.csproj
  src/SimpleLogInterface.NUnit/SimpleLogInterface.NUnit.nuspec
  src/SimpleLogInterface/Properties/AssemblyInfo.cs
  src/SimpleLogInterface/SimpleLogInterface.csproj
  src/SimpleLogInterface/SimpleLogInterface.nuspec
Labels: language/csharp, area/github-actions

Archiving nuget packages
  .github/workflows/build.yml
Labels: area/github-actions

Adding comment
  .github/workflows/build.yml
Labels: area/github-actions

Jashton/archive nuget packages (#8)
  .github/workflows/build.yml
Labels: area/github-actions

Adding Apache-2.0
  Directory.Build.props
Labels: none

Version bump
  .github/workflows/build.yml
Labels: area/github-actions

Jashton/apache 2.0 (#9)
  .github/workflows/build.yml
  Directory.Build.props
Labels: area/github-actions

-m
  .config/dotnet-tools.json
Labels: none

dotnet-ci-version-properties@0.7.0 (#11)
  .config/dotnet-tools.json
Labels: none

.github/labeler.yml:

language/csharp:
- '**/*.cs'
- '**/*.csproj'

language/js:
- '**/*.js'
- '**/package.json*'
- '**/*.ts'

language/sql:
- '**/*.sql'

language/powershell:
- '**/*.ps1'
- '**/*.psm1'

area/github-actions:
- '.github/workflows/**'

area/custom:
- 'src/lib/custom/**'
